:root {
    --md-default-bg-color: #1e1e1e
}


.md-main {
    background-color: #121212;
}

.md-typeset {
    color: #ffffff;
}



.md-header {
    background-color: #1a1a1a;
}



.md-sidebar--primary {
    background-color: #1e1e1e;
}


.md-nav__title {
    background: #1e1e1e !important;
    color: #ffffff !important;
}

.md-nav__link {
    background-color: #1e1e1e;  
    color: #ffffff !important;
}

.md-nav__link:hover {
    color: #4dabf7 !important;
}

.md-typeset a {
    color: #4dabf7;
}

.md-typeset a:hover {
    color: #74c0fc;
}          

.md-typeset pre {
    background-color: #1e1e1e;
}

.md-typeset code {
    background-color: #1e1e1e;
    color: #ffffff;
}

.md-typeset table {
    background-color: #1e1e1e;
    color: #ffffff;
}

.md-typeset th {
    background-color: #2a2a2a;
}


.md-typeset hr {
    border-color: #333;
}

.md-typeset td {
    background-color: #2a2a2a;
}


